*{
    margin:0;
    padding:0;
}
 h1{
     text-align: center;
   }
.card-group{
            column-gap: 20px;
           }
.card{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
          text-align: center;
          background-color: #f1f1f1;
         
      }
/*sidenav */
.sidebar {
          margin: 6px;
          padding: 0;
          width: 108px;
          background-color: #f1f1f1;
          position: fixed;
          height: 100%;
          overflow-x: hidden;
          }

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 425px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

.container-fluid {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


